# Jonathan Halverson
# Saturday, February 18, 2018
# Connecting Spark 2 to Hive

In [1]:
from os.path import expanduser, join, abspath
from pyspark.sql import SparkSession

In [2]:
warehouse_location = abspath('spark-warehouse')

In [3]:
spark = SparkSession \
     .builder \
     .appName("Python Spark SQL Hive integration example") \
     .config("spark.sql.warehouse.dir", warehouse_location) \
     .enableHiveSupport() \
     .getOrCreate()

The default field terminator in Hive is ^A. To type ^A, keep "Control" key pressed and type "v" followed by "a".

In [4]:
s1 = "CREATE TABLE IF NOT EXISTS sports (key INT, value STRING)"

In [5]:
spark.sql(s1)
spark.sql('LOAD DATA LOCAL INPATH "/Users/jhalverson/software/spark-2.2.1-bin-hadoop2.7/examples/src/main/resources/kv2.txt" overwrite INTO TABLE sports')

DataFrame[]

In [6]:
spark.sql("SELECT * FROM sports").show()

+---+-------+
|key|  value|
+---+-------+
| 23| Jordan|
| 99|Gretzky|
| 77|Bourque|
| 12|  Brady|
| 33|   Bird|
+---+-------+

I was never able to set a custom field delimiter.