# Jonathan Halverson
# Saturday, February 18, 2018
# Connecting Spark 2 to Hive

In [1]:
from os.path import expanduser, join, abspath
from pyspark.sql import SparkSession

In [2]:
warehouse_location = abspath('spark-warehouse')

In [3]:
spark = SparkSession \
     .builder \
     .appName("Python Spark SQL Hive integration example") \
     .config("spark.sql.warehouse.dir", warehouse_location) \
     .enableHiveSupport() \
     .getOrCreate()

In [13]:
#ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
spark.sql('CREATE TABLE IF NOT EXISTS airlines (key INT, value STRING) using hive row format delimited fields terminated by "," lines terminated by "\n"')
#spark.sql("LOAD DATA LOCAL INPATH '../misc/ontime/airlines.csv' INTO TABLE airlines")
spark.sql("LOAD DATA LOCAL INPATH '/Users/jhalverson/software/spark-2.2.1-bin-hadoop2.7/examples/src/main/resources/kv2.txt' OVERWRITE INTO TABLE airlines")

ParseException: u'\nmismatched input \'row\' expecting {<EOF>, \'(\', \'.\', \'SELECT\', \'FROM\', \'AS\', \'WITH\', \'VALUES\', \'TABLE\', \'INSERT\', \'MAP\', \'COMMENT\', \'REDUCE\', \'OPTIONS\', \'LOCATION\', \'CLUSTERED\', \'PARTITIONED\'}(line 1, pos 71)\n\n== SQL ==\nCREATE TABLE IF NOT EXISTS airlines (key INT, value STRING) using hive row format delimited fields terminated by "," lines terminated by "\n-----------------------------------------------------------------------^^^\n"\n'

In [14]:
spark.sql("SELECT * FROM airlines").show()

+----+-----+
| key|value|
+----+-----+
|null| null|
|null| null|
|null| null|
|null| null|
+----+-----+