# Jonathan Halverson
# Saturday, February 17, 2018
# Connecting Spark 2 with MySQL

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NoApp").getOrCreate()

In [4]:
import os
my_token = os.environ['MYSQL_PSWD']

In [5]:
df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost/beverly")\
                              .option("driver", "com.mysql.jdbc.Driver")\
                              .option("dbtable", "ufc")\
                              .option("user", "root")\
                              .option("password", my_token).load()
df.select('Name', 'Record', 'Age', 'Height', 'Reach', 'OutOf').show()

+-------------------+-----------+----+------+-----+--------------------+
|               Name|     Record| Age|Height|Reach|               OutOf|
+-------------------+-----------+----+------+-----+--------------------+
|       Danny Abbadi|           |33.0|  71.0| null|                    |
|        Tank Abbott|           |51.0|  72.0| null|                    |
|Shamil Abdurakhimov|     17-4-0|35.0|  75.0| 76.0|     Dagestan Russia|
|         Papy Abedi|           |38.0|  71.0| 74.0|    Stockholm Sweden|
|      Ricardo Abreu|      5-1-0|32.0|  71.0| 73.0|Huntington Beach,...|
|      Ryan Ackerman|           |null|  null| null|                    |
|        Scott Adams|           |42.0|  72.0| null|                    |
|         Sam Adkins|           |37.0|  72.0| null|                    |
|       Nick Agallar|           |null|  67.0| null|                    |
|    Marcello Aguiar|           |null|  72.0| null|                    |
|    Jessica Aguilar|     19-5-0|null|  64.0| null|                    |
|     Omari Akhmedov|     16-3-0|29.0|  72.0| 73.0|  Makhachkala Russia|
|  Yoshihiro Akiyama|14-6-0, 2NC|41.0|  70.0| 73.0|                    |
|   Mostapha Al Turk|           |43.0|  74.0| null|                    |
|    Razak Al-Hassan|           |34.0|  74.0| null|                    |
|        John Albert|           |30.0|  68.0| null|    Puyallup, WA USA|
|      Wes Albritton|           |null|  null| null|                    |
|     Alexandra Albu|      6-0-0|26.0|  63.0| null|       Moscow Russia|
|  Ildemar Alcantara|           |34.0|  74.0| 78.0|  Soure, Para Brazil|
|     Iuri Alcantara|33-7-0, 1NC|36.0|  69.0| 71.0|  Soure, Para Brazil|
+-------------------+-----------+----+------+-----+--------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Nickname: string (nullable = true)
 |-- Active: integer (nullable = true)
 |-- Record: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Reach: double (nullable = true)
 |-- LegReach: double (nullable = true)
 |-- OutOf: string (nullable = true)
 |-- Hometown: string (nullable = true)
 |-- College: string (nullable = true)
 |-- Degree: string (nullable = true)
 |-- Summary: string (nullable = true)

Note that beverly is the database name and a password must be supplied. It was necessary to download mysql-connector-java-8.0.9-rc.jar and put this in /Users/jhalverson/software/spark-2.2.1-bin-hadoop2.7/jars. The file was downloaded from https://mvnrepository.com/artifact/mysql/mysql-connector-java/8.0.9-rc.