# Jonathan Halverson
# Thursday, June 30, 2016

In [1]:
import os
import pymysql
import pandas as pd
from pandas.io import sql

The purpose of this notebook is to use Pandas to work with a table stored in a MySQL database. We begin by making a connection to the database:

In [4]:
host = 'localhost'
user = 'jhalverson'
passwd = os.environ['MYSQL_PASSWORD']
db = 'test'
con = pymysql.connect(host=host, user=user, passwd=passwd, db=db)

In [5]:
df = sql.read_sql('''select * from suppliers;''', con=con)
df

   ID              Supplier        ProductName            ContactEmail
0   1           Chips chips             Straws     info@chipschips.com
1   2  Bed, Bath and Beyond             Knives             help@b3.com
2   3             Grossmans         Drill bits  mike@mikegrossmans.com
3   4        Fishbone Forks  Ursula's Utensils         ursula@mainz.de

In [6]:
df.Supplier

0             Chips chips
1    Bed, Bath and Beyond
2               Grossmans
3          Fishbone Forks
Name: Supplier, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
ID              4 non-null int64
Supplier        4 non-null object
ProductName     4 non-null object
ContactEmail    4 non-null object
dtypes: int64(1), object(3)
memory usage: 200.0+ bytes

In [8]:
con.close()